SilverlightQLThuebao/Service References/UploadService/SilverlightQLThuebao.Web.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightQLThuebao.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightQLThuebao.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UploadFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileStoreUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFile" nillable="true" type="tns:UploadFile" />
  <xs:complexType name="PictureFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="PictureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureStream" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PictureFile" nillable="true" type="tns:PictureFile" />
</xs:schema>